WINDOWS
- Compiler "gcc"

AMBOS
- ripgrep
- fd
- make
* Recomiendo usar chocolatey para tener ripgrep y fd, para gcc se puede encontrar una version comprimida en internet, solo agregar el bin al path y ya se encuentra funcionando.

